{{#pushy-left}}
  <ul>
      <li><a href="#">Item 1</a></li>
      <li><a href="#">Item 2</a></li>
  </ul>
{{/pushy-left}}

<div class="site-overlay"></div>

<div id="container">
  <div class="menu-btn">&#9776; Menu</div>
</div>
